# {{ ansible_managed }}

# This is the main Apache server configuration file.
# It contains the configuration directives that give the server its instructions.
#
# See http://httpd.apache.org/docs/2.4/
# for detailed information about the directives and
# /usr/share/doc/httpd/README.Debian about Debian specific hints.
#
# Summary of how the Apache 2 configuration works in Debian:
# The Apache 2 web server configuration in Debian is quite different to
# upstream's suggested way to configure the web server.
# This is because Debian's default Apache2 installation attempts to
# make adding and removing modules, virtual hosts, and
# extra configuration directives as flexible as possible,
# in order to make automating the changes and
# administering the server as easy as possible.
#
# It is split into several files forming the configuration hierarchy outlined
# below, all located in the /etc/httpd/ directory:
#
#	/etc/httpd/
#	|-- httpd.conf
#	|	`--  ports.conf
#	|-- mods-enabled
#	|	|-- *.load
#	|	`-- *.conf
#	|-- conf-enabled
#	|	`-- *.conf
# 	`-- sites-enabled
#	 	`-- *.conf
#
#
# * httpd.conf is the main configuration file (this file).
#   It puts the pieces together by including all remaining configuration files when
#   starting up the web server.
#
# * ports.conf is always included from the main configuration file.
#   It is supposed to determine listening ports for incoming connections which
#   can be customized anytime.
#
# * Configuration files in the mods-enabled/, conf-enabled/ and sites-enabled/
#   directories contain particular configuration snippets which manage modules,
#   global configuration fragments, or virtual host configurations, respectively.
#
#   They are activated by symlinking available configuration files from their
#   respective *-available/ counterparts.
#   These should be managed by using our helpers
#   a2enmod/a2dismod, a2ensite/a2dissite and a2enconf/a2disconf.
#   See their respective man pages for detailed information.
#
# * The binary is called httpd.
#   Due to the use of environment variables, in the default configuration,
#   httpd needs to be started/stopped with /etc/init.d/httpd or apachectl.
#


# Global configuration
#

{{ httpd_configuration }}
